<div class="flex justify-content-center align-items-center min-h-screen">
    <p-card header="Register" [style]="{ width: '400px' }">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="field">
          <label for="name">Nombre Completo*</label>
          <input
            pInputText
            class="w-full"
            id="name"
            formControlName="name"
          />
          @if(name.invalid && (name.dirty || name.touched)){
          <small class="block p-error">Nombre es requerido</small>
          }
        </div>
        <div class="field">
          <label for="email">Email*</label>
          <input pInputText class="w-full" id="email" formControlName="email" />
          @if(email.invalid && (email.dirty || email.touched)){
          <small class="block p-error">
            @if(email.hasError('required')) {
            <span>Email es requerido</span>
            } @else if(email.hasError('pattern')) {
            <span>Email es invalido</span>
            }
          </small>
          }
        </div>
        <div class="field">
          <label for="password">Contraseña*</label>

          <p-password
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
            inputId="password"
            inputStyleClass="w-full"
            styleClass="w-full"
          />
          @if(password.invalid && (password.dirty || password.touched)) {
          <small class="block p-error"> Password es requerido</small>
          }
        </div>
        <div class="field">
          <label for="confirmPassword">Confirmar Contraseña*</label>
          <p-password
            formControlName="confirmPassword"
            [feedback]="false"
            [toggleMask]="true"
            inputId="confirmPassword"
            inputStyleClass="w-full"
            styleClass="w-full"
          />
          @if(confirmPassword.invalid && (confirmPassword.dirty ||
          confirmPassword.touched)) {
          <small class="block p-error"> Confirmar Contraseña es requerido </small>
          } @if(registerForm.hasError('passwordMismatch') && password.valid &&
          confirmPassword.valid) {
          <small class="block p-error"> Contraseña no coincidente </small>
          }
        </div>
        <p-button
          type="submit"
          label="Register"
          styleClass="w-full"
          [disabled]="registerForm.invalid"
        ></p-button>
        <div class="mt-2">Ya eres miembro? <a routerLink="/login">Login</a></div>
      </form>
    </p-card>
  </div>